<!doctype html>
<html lang="zh">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
    <title>登入頁面</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.2/moment.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.16.0/moment-with-locales.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.9/moment-timezone-with-data.min.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="page-header">
                <h1>統義玻璃股份有限公司&nbsp;<small>氣泡數監控程式登入頁面</small></h1>
            </div>
        </div>
        <div class="row">
            <form id="loginForm" name="loginForm" class="form-horizontal" action="http://upgi.ddns.net:4949/api/authenticate" method="post" enctype="application/x-www-form-urlencoded">
                <div class="form-group">
                    <label for="account" class="col-xs-2 control-label">帳號</label>
                    <div class="col-xs-2">
                        <input id="loginID" name="loginID" type="text" class="form-control" placeholder="員工編號" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="password" class="col-xs-2 control-label">密碼</label>
                    <div class="col-xs-2">
                        <input id="password" name="password" type="password" class="form-control" placeholder="密碼" />
                    </div>
                </div>
                <button type="submit" class="btn btn-default col-xs-offset-2">登入</button>
            </form>
        </div>
    </div>
</body>

</html>

<script>
    $("form#loginForm").submit(function() { // when user clicks on the submit button on the inline edit form
        var formData = new FormData($(this)[0]);
        $.ajax({
            url: "http://upgi.ddns.net:4949/api/authenticate",
            type: "post",
            data: formData,
            async: true,
            cache: false,
            contentType: false,
            processData: false
        }).done(function(result) {
            console.log("ABC");
            window.location.href = "http://upgi.ddns.net:4949/seedCount?token=" + JSON.parse(result).token;
        });
        return false;
    });
</script>